# Variables and Operators

In [1]:
x = 1
print(x)

1

In [2]:
y = "apple"
print(y)

apple

In [3]:
fruit = "mango"
print(fruit)

mango

In [4]:
_student = "Shah"
print(_student)

Shah

# Many values to multiple variables

In [5]:
x = 1
y = 2
z = 3
print(x,y,z)

1 2 3

In [6]:
x,y,z = "Shah","23","Computer scinece"
print(x,y,z)

Shah 23 Computer scinece

In [7]:
x = y = z = "Shah"
print(x)
print(y)
print(z)

Shah
Shah
Shah

# Python output variable

In [8]:
x = "Shah"
y = "the"
z = "Programmer"
print(x,y,z)

print()

print(x)
print(y)
print(z)

Shah the Programmer

Shah
the
Programmer

# Data Types

In [9]:
x = 2
print(x)
print(type(x))

2
<class 'int'>

In [10]:
y = 3.142
print(y)
print(type(y))

3.142
<class 'float'>

In [11]:
z = 2+5j
print(z)
print(type(z))

(2+5j)
<class 'complex'>

In [12]:
a = "This is the course for Data Analyst"
print (a)
print(type(a))

This is the course for Data Analyst
<class 'str'>

In [13]:
c = [1,2,3,4,5,6,7,8,9,10]
print(c)
print(type(c))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [14]:
d = (1,2,3,4,5,6,7,8,9,10)
print(d)
print(type(d))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [16]:
%whos

Variable   Type       Data/Info
-------------------------------
a          str        This is the course for Data Analyst
c          list       n=10
d          tuple      n=10
fruit      str        mango
x          int        2
y          float      3.142
z          complex    (2+5j)

# Operators

In [17]:
a = 10
b = 12
print(a+b)

22

In [18]:
a = 3.142
b = 9.0201
print(a+b)

12.162099999999999

In [19]:
a = 12+9j
b = 13
print(a+b)

(25+9j)

# Subtraction

In [21]:
a = 12
b = 190
print (a-b)

-178

In [22]:
a = 3210
b = 321.392112
print (a-b)

2888.607888

# Multiplication

In [23]:
a = 1234
b = 9877
print(a*b)

12188218

In [24]:
a = 12.4342
b = 985.2323
print(a*b)

12250.57546466

In [29]:
a = 99-2j
b = 12+12j
print(a*b)

(1212+1164j)

# Division

In [30]:
a = 1234
b = 654
print(a/b)

1.8868501529051989

In [33]:
a = 765.73653
b = 12.986
print(a/b)

58.96631218235022

# Exponent

In [34]:
a = 987654
print(a**12)

861505240547001947070991346704159974336778972918853065619227783364284416

In [35]:
a = ((1234*8765)+(765**43)-(546878**2)/(12))
print (a)

9.941266392977833e+123

# Modulous

In [36]:
a = 26
b = 7
print (a%b)

5

# Built-in Function

#  Obsolute abs() Function

In [37]:
a = abs(-3.142)
print(a)

3.142

In [41]:
z = abs(3+5j)
print(z)

5.830951894845301

# Binary Function

In [39]:
b = bin(97)
print (b)

0b1100001

# Python bytes Function

In [40]:
c = bytes(12)
print (c)

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

# Character Function

In [42]:
d = chr(97)
print(d)

a

In [43]:
d = chr(98)
print(d)

b

In [44]:
d = chr(99)
print(d)

c

In [45]:
d = chr(90)
print(d)

Z

# Complex Function

In [46]:
e = complex(6,2)
print (e)

(6+2j)

In [47]:
f = complex(3.142,9.098)
print (f)

(3.142+9.098j)

# Float Function

In [48]:
g = float(6)
print (g)

6.0

In [49]:
g = float(9.8)
print (g)

9.8

# Int Function

In [50]:
h = int(3.8)
print (h)

3

In [51]:
h = int(1846.0912)
print (h)

1846

# String Function

In [52]:
i = str("94444")
print (i)
print (type(i))

94444
<class 'str'>

In [53]:
i = str("94444.765")
print (i)
print (type(i))

94444.765
<class 'str'>

# Input Function

In [55]:
name = input("Enter your Name")
print (name)
print("Welcome", name)

Enter your NameMusleeh Shah
Musleeh Shah
Welcome Musleeh Shah

In [59]:
name = input("Enter your Name")
age = input("Enter your age")
status = input("What is your statur")
print()

print("Welcome"," ", name)
print("your age is"," ", age)
print("your status is", " ", status)

Enter your NameMusleeh Shah
Enter your age23
What is your staturSingle

Welcome   Musleeh Shah
your age is   23
your status is   Single

# Conditional Statements

Write a program to calculate the percentage of a student in Maths, English, Pak Studies, Urdu and Islamiat

In [62]:
a = input("Enter Student's Name")
b = int(input("Enter the obtained marks in Maths"))
c = int(input("Enter the obtained marks in English"))
d = int(input("Enter the obtained marks in Pak Studies"))
e = int(input("Enter the obtained marks in Urdu"))
f = int(input("Enter the obtained marks in Islamiat"))
g = ((b+c+d+e+f)/500)*100
print("The obtained percentage of the student is", " ", g)

Enter Student's NameBakhtu
Enter the obtained marks in Maths77
Enter the obtained marks in English84
Enter the obtained marks in Pak Studies92
Enter the obtained marks in Urdu89
Enter the obtained marks in Islamiat81
The obtained percentage of the student is   84.6

In [71]:
a = int(input("Enter Student's percentage"))

if a>=90:
    print("A grade")
if a>=70 and a<80:
    print("B grade")
if a>=60 and a<70:
    print("C grade")
    
#print("The student secured a", a)

Enter Student's percentage79
B grade

# if else Statement

In [73]:
j = int(input("Enter a number"))
if j%7==0:
    print("Hello")
else:
    print("Bye")

Enter a number19
Bye

# if - elif - else statement

Accept city and print it's monument
Islamabad - Faisal masjid
Peshawar - Bab e Peshawar
Lahore - Minar e Pakistan
Karachi - Mazar e Quaid
Chitral - Wadi e Kalash
Gilgit - Baltit Fort
Other city - Record not found

In [77]:
city = input("Enter city name")
if city=="Islamabad":
    print("The monument is Faisal Masjid")
elif city=="Peshawar":
    print("The monument is Bab e Peshawar")
elif city=="Lahore":
    print("The monument is Minar e Pakistan")
elif city=="Karachi":
    print("The monument is Mazar e Quaid")
elif city=="Chitral":
    print("The monument is Wadi e Kalash")
elif city=="Gilgit":
    print("The monument is Baltit Fort")
else:
    print("Record not found")

Enter city nameChitral
The monument is Wadi e Kalash

# Concept of loop

# While loop

Write a program to display numbers from 1 to 5

In [78]:
k = 1
l = 5
while k<=l:
    print(k)
    k = k + 1

1
2
3
4
5

Enter a value from user and make a multiplication table

In [83]:
no = int(input("Enter a value"))
m = 1
while m<=10:
    print(no*m)
    m = m+1
print("This is the multiplication")

Enter a value123
123
246
369
492
615
738
861
984
1107
1230
This is the multiplication

# infinite loop

In [ ]:
age = 32
while age>18:
    print

In [1]:
count = 0
while(count<25):
    count = count+1
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [2]:
count = 0
while(count<25):
    count = count+1
    print("Hello")
else:
    print("Byee")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Byee

# for loop

In [6]:
animals = ["cat", "dog", "lion", "tiger"]
for x in animals:
    print(x)

cat
dog
lion
tiger

# looping in string

In [7]:
for x in ("animal"):
    print(x)

a
n
i
m
a
l

In [8]:
for x in range(25):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [9]:
for x in range(10,25):
    print(x)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

# user define function

In [1]:
def my_fun():
    print("Day 6 of python master class")

my_fun()

Day 6 of python master class

# Making a result of a student

In [3]:
def contact():
    print("Contact of the School")
    print("Akhss Chitral")
    print("Chitral Kpk")
    print("0943983212")
    print("akeub.contact@gmail.com")

In [4]:
for i in range(5):
    a = input("Name of thr Student")
    b = int(input("Enter the obtained marks in Maths"))
    c = int(input("Enter the obtained marks in Urdu"))
    d = int(input("Enter the obtained marks in English"))
    
    print()
    contact()

Name of thr StudentAlee
Enter the obtained marks in Maths77
Enter the obtained marks in Urdu86
Enter the obtained marks in English56

Contact of the School
Akhss Chitral
Chitral Kpk
0943983212
akeub.contact@gmail.com
Name of thr StudentFayaz
Enter the obtained marks in Maths90
Enter the obtained marks in Urdu78
Enter the obtained marks in English92

Contact of the School
Akhss Chitral
Chitral Kpk
0943983212
akeub.contact@gmail.com
Name of thr StudentEmad
Enter the obtained marks in Maths78
Enter the obtained marks in Urdu71
Enter the obtained marks in English74

Contact of the School
Akhss Chitral
Chitral Kpk
0943983212
akeub.contact@gmail.com
Name of thr StudentAiman
Enter the obtained marks in Maths59
Enter the obtained marks in Urdu82
Enter the obtained marks in English70

Contact of the School
Akhss Chitral
Chitral Kpk
0943983212
akeub.contact@gmail.com
Name of thr StudentSaad
Enter the obtained marks in Maths56
Enter the obtained marks in Urdu66
Enter the obtained marks in English71

Contact of the School
Akhss Chitral
Chitral Kpk
0943983212
akeub.contact@gmail.com

# Arguments

In [ ]:
# write a program to calculate electricity bill

if 500 unit used -> pay 5 for each unit
if 700 unit used -> pay 10 for each unit
if 1000 unit used -> pay 15 for each unit
if more than 1000 unit used -> pay 20 for each unit

In [1]:
def my_bill(n):
    if n<=500:
        print("Your Bill is", n*5)
    elif n>500 and n<=700:
        print("Yor Bill is", n*10)
    elif n>700 and n<=1000:
        print("Yor Bill is", n*15)
    elif n>1000:
        print("Yor Bill is", n*20)

In [2]:
for i in range(3):
    a = input("Name of the customer")
    n = int(input("Unit used by the customer"))
    
    print()
    my_bill(n)

Name of the customerShah
Unit used by the customer299

Your Bill is 1495
Name of the customerIslam
Unit used by the customer723

Yor Bill is 10845
Name of the customerNaveed
Unit used by the customer1298

Yor Bill is 25960

# String in python

In [3]:
a = "Hello"
print(a)

Hello

In [4]:
m = 'This is python master class and its day 7'
print(m)
print(type(m))

This is python master class and its day 7
<class 'str'>

# Multiline String

In [5]:
n = "The Data Science program at the Sapienza University of Rome offers an interdisciplinary approach gathering contributions from Engineering, Computer Science, Statistics, Economic and Organizational Sciences, as well as specific knowledge of the main Data Science application domains."
print(n)

The Data Science program at the Sapienza University of Rome offers an interdisciplinary approach gathering contributions from Engineering, Computer Science, Statistics, Economic and Organizational Sciences, as well as specific knowledge of the main Data Science application domains.

In [7]:
n = """The Data Science program at the Sapienza University of Rome offers an 
interdisciplinary approach gathering contributions from Engineering, Computer Science,
Statistics, Economic and Organizational Sciences, 
as well as specific knowledge of the main Data Science application domains."""
print(n)

The Data Science program at the Sapienza University of Rome offers an
interdisciplinary approach gathering contributions from Engineering, Computer Science,
Statistics, Economic and Organizational Sciences,
as well as specific knowledge of the main Data Science application domains.

In [17]:
print(len(n))

284

# Indexing of String

In [11]:
o = "Musleeh Shah"
print(o[-7])

e

# Slicing

In [12]:
p = "Hello students how are you?"
print(p[0:5])

Hello

In [13]:
p = "Hello students how are you?"
print(p[6:18])

students how

In [19]:
p = "Hello students how are you?"
print(p[0:20:2])

Hlosuet o

In [16]:
p = "Hello students how are you?"
print(p[::-1])

?uoy era woh stneduts olleH

# upper method

In [18]:
q = "hello how are you?"
print(q.upper())

HELLO HOW ARE YOU?

# lower method

In [21]:
q = "I LIVE IN ISLAMABAD"
print(q.lower())

i live in islamabad

# Replace Function

In [22]:
r = "Hello how are you"
print(r.replace("Hello", "Byee"))

Byee how are you

# find method()

In [23]:
r = "python master class"
s = r.find("m")
print(s)

7

In [24]:
r = "python master class"
s = r.find("a")
print(s)

8

# List in python

In [2]:
mylist = ["apple","banana","orange","mango"]
print(mylist)
print(type(mylist))

['apple', 'banana', 'orange', 'mango']
<class 'list'>

# Allow Duplicate

In [3]:
mylist = ["apple","banana","apple","mango","banana"]
print(mylist)

['apple', 'banana', 'apple', 'mango', 'banana']

In [6]:
mylist = ["apple",10,"banana", 2.98,"orange", True,"mango"]
print(mylist)
print(len(mylist))

['apple', 10, 'banana', 2.98, 'orange', True, 'mango']
7

# Access Item

In [7]:
mylist = ["apple",10,"banana", 2.98,"orange", True,"mango", 8.43, 123, False]
print(mylist[8])

123

In [8]:
mylist = ["apple",10,"banana", 2.98,"orange", True,"mango", 8.43, 123, False]
print(mylist[-4])

mango

In [9]:
mylist = ["apple",10,"banana", 2.98,"orange", True,"mango", 8.43, 123, False]
print(mylist[1:8])

[10, 'banana', 2.98, 'orange', True, 'mango', 8.43]

In [10]:
mylist = ["apple",10,"banana", 2.98,"orange", True,"mango", 8.43, 123, False]
print(mylist[0:9:2])

['apple', 'banana', 'orange', 'mango', 123]

In [12]:
mylist = ["apple",10,"banana", 2.98,"orange", True,"mango", 8.43, 123, False]
mylist[5] = "orange"
print (mylist)

['apple', 10, 'banana', 2.98, 'orange', 'orange', 'mango', 8.43, 123, False]

In [15]:
a = [1, 2, 3, 4, 5, 6, 7, 9.4, 6, 2]
a[2:4] = ["cat", "dog", "lion"]
print(a)

[1, 2, 'cat', 'dog', 'lion', 5, 6, 7, 9.4, 6, 2]

In [16]:
a = [1, 2, 3, 4, 5, 6, 7, 9.4, 6, 2]
a.append(-92)
print(a)

[1, 2, 3, 4, 5, 6, 7, 9.4, 6, 2, -92]

In [17]:
mylist = ["apple",10,"banana", 2.98,"orange", True,"mango", 8.43, 123, False]
mylist.remove("orange")
print(mylist)

['apple', 10, 'banana', 2.98, True, 'mango', 8.43, 123, False]

In [18]:
a = [1, 2, 3, 4, 5,"data", 6, 7, 9.4,"python", 6, 2]
a.reverse()
print(a)

[2, 6, 'python', 9.4, 7, 6, 'data', 5, 4, 3, 2, 1]

In [27]:
q = [10, 20,30,45,61,83, 98,234,11,64, 67]
print(len(q))
a = 0
for i in range(11):
    a = a + q[i]
    i = a + 1
print("The sum is", a)

11
The sum is 723

q = [10, 20,30,45,61,83, 98,234,11,64, 67]
b = []
print(len(q))
a = 0
for i in q:
     b.append(i * 2)
print("The multiplication is", a)

# Tuples in python

In [34]:
my_tuple = (1,2,3)
print(my_tuple)

(1, 2, 3)

In [35]:
a = (1, 2.3, "Hello", 3+6j)
print(a)

(1, 2.3, 'Hello', (3+6j))

# Nested tuple

In [36]:
b = (1,2,3,["orange","mango"], (6,7,8))
print(b)

(1, 2, 3, ['orange', 'mango'], (6, 7, 8))

# Tuple constractor

In [1]:
z = tuple(("a","b","c"))
print (z)
print(type(z))

('a', 'b', 'c')
<class 'tuple'>

# indexing

In [2]:
y = (23,51,84,80,37)
print(y[4])

37

In [4]:
y = (23,51,84,80,37)
print(y[::-1])

(37, 80, 84, 51, 23)

In [5]:
y = (23,51,84,80,37)
print(y[4:])

(37,)

In [6]:
y = (23,51,84,80,37)
print(y[::])

(23, 51, 84, 80, 37)

In [7]:
y = (23,51,84,80,37)
print(y[:4])

(23, 51, 84, 80)

# tuple into list

In [9]:
a = (10,9,8,7,6,5,4,3,2,1)
y = list(a)
y.append(30)
a = tuple(y)
print(a)

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 30)

# loop in tuple

In [10]:
a = (10,9,8,7,6,5,4,3,2,1)
for x in a:
    print(a)

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [2]:
a = (1,2,3,4,5,6,7,8)
print(a*2)
print(a+a+a)
print(a+a*4)
print(len(a))

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
8

In [ ]:
write a program, to take 5 inputs from user and store in a tuple.

In [ ]:
t = ()
i = 0
while i<=5:
    num = int(input("Enter the value please"))
    t = t + (num,)
    i = i + 1
    print(t)

Enter the value please12
(12,)
Enter the value please24
(12, 24)
Enter the value please36
(12, 24, 36)
Enter the value please48
(12, 24, 36, 48)
Enter the value please60
(12, 24, 36, 48, 60)

Creating Dictionary

In [ ]:
a = {
    "ID":41404,
    "Year":2015,
    "Color":"Green"
}

In [ ]:
print(a)
print(type(a))

In [2]:
a = {
    "ID":41404,
    "Year":2015,
    "Color":"Green"
}
print(len(a))

3

In [1]:
header = """
************************************************************
*                                                          *
*          <== INVENTORY MANAGEMENT SYSTEM ==>             *
*                                                          *
************************************************************
"""

print(header)

products = {}
product_order = []
categories = set()

# Function to add a product
def add_product(product_id, name, category, stock):
    if product_id in products:
        print("Product ID already exists. No duplicates allowed.")
        return
    product_info = (name, category)
    products[product_id] = {'info': product_info, 'stock': stock}
    product_order.append(product_id)
    categories.add(category)
    print(f"Product {name} added successfully.")

# Function to update stock
def update_stock(product_id, quantity):
    if product_id in products:
        products[product_id]['stock'] += quantity
        print(f"Stock for product ID {product_id} updated successfully.")
    else:
        print("Product ID not found.")

# Function to display all products
def display_products():
    if products:
        print("All products in inventory:")
        for product_id in product_order:
            product = products[product_id]
            name, category = product['info']
            stock = product['stock']
            print(f"ID: {product_id}, Name: {name}, Category: {category}, Stock: {stock}")
    else:
        print("No products available.")

# Function to display products by category
def display_by_category(category):
    print(f"Products in category '{category}':")
    found = False
    for product_id, product in products.items():
        name, cat = product['info']
        if cat == category:
            stock = product['stock']
            print(f"ID: {product_id}, Name: {name}, Stock: {stock}")
            found = True
    if not found:
        print("No products found in this category.")

# Testing the system
# Add multiple products
add_product("ID001", "Product1", "Category1", 50)
add_product("ID002", "Product2", "Category1", 30)
add_product("ID003", "Product3", "Category2", 20)

# Update stock levels
update_stock("ID001", 20)
update_stock("ID003", -5)

# Display all products
display_products()

# Display products by category
display_by_category("Category1")
display_by_category("Category2")

************************************************************
*                                                          *
*          <== INVENTORY MANAGEMENT SYSTEM ==>             *
*                                                          *
************************************************************

Product Product1 added successfully.
Product Product2 added successfully.
Product Product3 added successfully.
Stock for product ID ID001 updated successfully.
Stock for product ID ID003 updated successfully.
All products in inventory:
ID: ID001, Name: Product1, Category: Category1, Stock: 70
ID: ID002, Name: Product2, Category: Category1, Stock: 30
ID: ID003, Name: Product3, Category: Category2, Stock: 15
Products in category 'Category1':
ID: ID001, Name: Product1, Stock: 70
ID: ID002, Name: Product2, Stock: 30
Products in category 'Category2':
ID: ID003, Name: Product3, Stock: 15