# Creating Dictionary

In [2]:
a = {
    "ID":41404,
    "Year":2015,
    "Color":"Green"
}

In [3]:
print(a)
print(type(a))

{'ID': 41404, 'Year': 2015, 'Color': 'Green'}
<class 'dict'>

In [4]:
a = {
    "ID":41404,
    "Name":"Shah",
    "Class":"9th"
}

In [6]:
print(a["ID"])

41404

In [7]:
z = {
    "ID":41404,
    "Name":"Shah",
    "Class":"9th"
}

In [9]:
x = z.keys()

In [10]:
x

dict_keys(['ID', 'Name', 'Class'])

In [11]:
z = {
    "ID":41404,
    "Name":"Shah",
    "Class":"9th"
}

In [12]:
y = z.values()

In [13]:
y

dict_values([41404, 'Shah', '9th'])

In [14]:
c = {
    "ID":41404,
    "Name":"Shah",
    "Class":"9th"
}

In [15]:
c["ID"] = 1912126

In [16]:
print(c)

{'ID': 1912126, 'Name': 'Shah', 'Class': '9th'}

In [20]:
a = {
    "ID":41404,
    "Name":"Shah",
    "Class":"9th"
}

a.update({"Age":25})
print(a)

{'ID': 41404, 'Name': 'Shah', 'Class': '9th', 'Age': 25}

In [23]:
a = {
    "ID":41404,
    "Name":"Shah",
    "Class":"9th"
}

a.pop("Class")
print(a)

{'ID': 41404, 'Name': 'Shah'}

In [34]:
a = {
    "ID":41404,
    "Name":"Shah",
    "Class":"9th"
}

a.clear()
print(a)

{}

In [2]:
dict1 = {1:10, 2:20}
dict2 = {3:30, 4:40}
dict3 = {5:50, 6:60}
dict4 = {}

for d in (dict1, dict2, dict3): dict4.update(d)
print(dict4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [3]:
d = dict()
for x in range(1, 16):
    d[x] = x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
Check whether a given key already exists in a dictionary

In [4]:
d = {1:10, 2:20, 3:30, 4:40, 5:50, 6:60}
def is_key_present(x):
    if x in d:
        print("Key is present in the Dictionary")
    else:
        print("Key is not present in the Dictionary")
is_key_present(5)
is_key_present(9)

Key is present in the Dictionary
Key is not present in the Dictionary

# Set

### Creating a set

In [6]:
a = {"animal", "Fruits", "Minirals"}
print(a)
print(type(a))

{'Fruits', 'Minirals', 'animal'}
<class 'set'>

Set items are unordered

# Duplicates are not allowed

In [9]:
a = {"animal", "Fruits", "Minirals", "animals", "Fruits"}
print(a)

{'Fruits', 'Minirals', 'animals', 'animal'}

# True and 1 is consider the same

In [11]:
a = {"animals", "Fruits", "Minirals", "animals", "Fruits", 1, 2, True}
print(a)

{'Fruits', 1, 2, 'Minirals', 'animals'}

# Set items - Data types

In [12]:
x1 = {1,2,3}
x2 = {1.2, 1.3, 1.4}
x3 = {"a", "b", "c"}
x4 = {True, False}
print(x1,x2,x3,x4)

{1, 2, 3} {1.2, 1.3, 1.4} {'b', 'a', 'c'} {False, True}

# The Set() Constructor

In [13]:
set = set(("apple", "banana", "mango"))
print(set)

{'mango', 'apple', 'banana'}

# Access Items

In [14]:
a = {"a", "b", "c", "d"}
for x in a:
    print(x)

b
a
d
c

Check if Item is present in Set

In [15]:
a = {"data", "python", "code"}
print("code" in a)

True

In [16]:
a = {"data", "python", "code"}
print("analyst" in a)

False

# Add Items

In [17]:
a = {"a", "b", "c", "d"}
a.add(100)
print(a)

{'c', 100, 'b', 'a', 'd'}

In [19]:
a = {"a", "b", "c", "d"}
b = {"data", "python", "code"}
a.update(b)
print(a)

{'c', 'a', 'data', 'b', 'python', 'code', 'd'}

In [20]:
a = {"a", "b", "c", "d"}
a.remove("b")
print(a)

{'a', 'd', 'c'}

In [22]:
a = {"a", "b", "c", "d"}
x = a.pop()
print(a)

{'a', 'd', 'c'}

In [23]:
a = {"a", "b", "c", "d"}
a.clear()
print(a)

set()

# Join two sets

In [25]:
x = {"a", "b", "c", "d"}
y = {"data", "python", "code"}
z = x.union(y)
print(z)

{'c', 'a', 'data', 'b', 'python', 'code', 'd'}

write a program to find the max and min values

In [26]:
set = {9, 3,12,7,6,10.74}
print("Original set elements")
print(set)
print("The max value in the set is")
print(max(set))
print("The min value in the set is")
print(min(set))

Original set elements
{3, 6, 7, 9, 10.74, 12}
The max value in the set is
12
The min value in the set is
3

Return a new set of Identical items from 2 sets

In [27]:
set1 = {11, 22, 33, 44}
set2 = {11, 20, 28, 40}

print(set1.intersection(set2))

{11}

# Tasks

In [33]:
import pandas as pd
import numpy as np

# Create a Series from a Python list
python_list = [10, 20, 30, 40, 50]
series_from_list = pd.Series(python_list, index=['a', 'b', 'c', 'd', 'e'])
print("Series from list:\n", series_from_list)

# Create a Series from a NumPy array
numpy_array = np.array([1, 2, 3, 4, 5])
series_from_array = pd.Series(numpy_array, index=['w', 'x', 'y', 'z', 'u'])
print("\nSeries from array:\n", series_from_array)

# Create a Series from a dictionary
dict_data = {'A': 100, 'B': 200, 'C': 300}
series_from_dict = pd.Series(dict_data)
print("\nSeries from dictionary:\n", series_from_dict)

series_addition = series_from_list + series_from_list
series_multiplication = series_from_list * 2

print("\nSeries Addition:\n", series_addition)
print("\nSeries Multiplication:\n", series_multiplication)

# Access elements using index labels
element_a = series_from_list['a']
print("\nElement with index 'a':", element_a)

# Access elements using positions
element_pos_2 = series_from_list.iloc[2]
print("Element at position 2:", element_pos_2)

# Filter the Series to include only values greater than 25
filtered_series = series_from_list[series_from_list > 25]
print("\nFiltered Series (values > 25):\n", filtered_series)

# Create a DataFrame from a dictionary of lists
data_dict = {
    'Name': ['Ali', 'Babar', 'Faryal', 'Danish'],
    'Age': [24, 27, 22, 32],
    'City': ['Lahore', 'Islamabad', 'Karachi', 'Peshawar']
}
df_from_dict = pd.DataFrame(data_dict)
print("\nDataFrame from dictionary:\n", df_from_dict)

# Create a DataFrame from a NumPy array
array_data = np.random.rand(4, 3)
df_from_array = pd.DataFrame(array_data, columns=['Column1', 'Column2', 'Column3'], index=['Row1', 'Row2', 'Row3', 'Row4'])
print("\nDataFrame from NumPy array:\n", df_from_array)

# Display the first and last five rows of the DataFrame
print("\nFirst five rows of DataFrame:\n", df_from_dict.head())
print("\nLast five rows of DataFrame:\n", df_from_dict.tail())

# Get a summary of the DataFrame
summary = df_from_dict.describe()
print("\nSummary of DataFrame:\n", summary)

# Calculate mean, median, and standard deviation
mean_age = df_from_dict['Age'].mean()
median_age = df_from_dict['Age'].median()
std_dev_age = df_from_dict['Age'].std()
print("\nMean Age:", mean_age)
print("Median Age:", median_age)
print("Standard Deviation of Age:", std_dev_age)

# Extract a specific column as a Series
age_series = df_from_dict['Age']
print("\nAge Column as Series:\n", age_series)

# Filter rows where Age is greater than 25
filtered_df = df_from_dict[df_from_dict['Age'] > 25]
print("\nFiltered DataFrame (Age > 25):\n", filtered_df)

# Select rows where Age is greater than 25 and City is 'New York'
multi_condition_df = df_from_dict[(df_from_dict['Age'] > 25) & (df_from_dict['City'] == 'New York')]
print("\nFiltered DataFrame (Age > 25 and City is 'New York'):\n", multi_condition_df)

# Add a new column to the DataFrame
df_from_dict['Salary'] = [70000, 80000, 75000, 90000]
print("\nDataFrame after adding a new column:\n", df_from_dict)

# Delete a column from the DataFrame
df_from_dict.drop('Salary', axis=1, inplace=True)
print("\nDataFrame after deleting the 'Salary' column:\n", df_from_dict)

# Rename columns in the DataFrame
df_from_dict.rename(columns={'Name': 'Full Name', 'Age': 'Years'}, inplace=True)
print("\nDataFrame after renaming columns:\n", df_from_dict)

Series from list:
 a    10
b    20
c    30
d    40
e    50
dtype: int64

Series from array:
 w    1
x    2
y    3
z    4
u    5
dtype: int32

Series from dictionary:
 A    100
B    200
C    300
dtype: int64

Series Addition:
 a     20
b     40
c     60
d     80
e    100
dtype: int64

Series Multiplication:
 a     20
b     40
c     60
d     80
e    100
dtype: int64

Element with index 'a': 10
Element at position 2: 30

Filtered Series (values > 25):
 c    30
d    40
e    50
dtype: int64

DataFrame from dictionary:
      Name  Age       City
0     Ali   24     Lahore
1   Babar   27  Islamabad
2  Faryal   22    Karachi
3  Danish   32   Peshawar

DataFrame from NumPy array:
        Column1   Column2   Column3
Row1  0.002908  0.655106  0.267045
Row2  0.227961  0.269342  0.681085
Row3  0.523168  0.312323  0.719847
Row4  0.729546  0.494282  0.845579

First five rows of DataFrame:
      Name  Age       City
0     Ali   24     Lahore
1   Babar   27  Islamabad
2  Faryal   22    Karachi
3  Danish   32   Peshawar

Last five rows of DataFrame:
      Name  Age       City
0     Ali   24     Lahore
1   Babar   27  Islamabad
2  Faryal   22    Karachi
3  Danish   32   Peshawar

Summary of DataFrame:
              Age
count   4.000000
mean   26.250000
std     4.349329
min    22.000000
25%    23.500000
50%    25.500000
75%    28.250000
max    32.000000

Mean Age: 26.25
Median Age: 25.5
Standard Deviation of Age: 4.349329450233296

Age Column as Series:
 0    24
1    27
2    22
3    32
Name: Age, dtype: int64

Filtered DataFrame (Age > 25):
      Name  Age       City
1   Babar   27  Islamabad
3  Danish   32   Peshawar

Filtered DataFrame (Age > 25 and City is 'New York'):
 Empty DataFrame
Columns: [Name, Age, City]
Index: []

DataFrame after adding a new column:
      Name  Age       City  Salary
0     Ali   24     Lahore   70000
1   Babar   27  Islamabad   80000
2  Faryal   22    Karachi   75000
3  Danish   32   Peshawar   90000

DataFrame after deleting the 'Salary' column:
      Name  Age       City
0     Ali   24     Lahore
1   Babar   27  Islamabad
2  Faryal   22    Karachi
3  Danish   32   Peshawar

DataFrame after renaming columns:
   Full Name  Years       City
0       Ali     24     Lahore
1     Babar     27  Islamabad
2    Faryal     22    Karachi
3    Danish     32   Peshawar